/*PAGE SETUP*/

html, body { 
height: 100%; overflow: auto; margin: 0; 
} 
* {font-family: Oswald; text-transform: normal;}
ins,#daddyleagues-menu,#daddyleagues-navbar{display:none!important;}
.content, body,.container{background:none; width:100%;  -webkit-animation:fadein 1s; animation:fadein 1s }@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }@keyframes fadein { from {opacity:0} to {opacity:1} } 
.container{max-width:1260PX; width:100%;} 

 






/***RESPONSIVE LAYOUT***/ 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 420px) 
/* start of desktop styles */
@media screen and (max-width: 991px) {
     /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
}
@media screen and (max-width: 767px) {
     /* start of phone styles */
