/*PAGE SETUP*/
html, body { height: 100%; overflow: auto; margin: 0; } 
*{font-family: Oswald;}
ins,#daddyleagues-menu,#daddyleagues-navbar{display:none!important;} 





/***RESPONSIVE LAYOUT***/ 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 420px) 
/* start of desktop styles */
@media screen and (max-width: 991px) {
     /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
}
@media screen and (max-width: 767px) {
     /* start of phone styles */
