
html, body { 
height: 100%; overflow: auto; margin: 0; 
} 
* {font-family: Oswald; text-transform: normal;}
ins,#daddyleagues-menu,#daddyleagues-navbar{display:none!important;}
.content, body,.container{background:none; width:100%;  -webkit-animation:fadein 1s; animation:fadein 1s }@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }@keyframes fadein { from {opacity:0} to {opacity:1} } 

/*SCOREBOARD-------------------------------------------------------*/ 
/*team logos (if you change a img you must first change the javascript code for that image*/
/*afc east*/
img.scoreboard-NYJ {    BACKGROUND: #2b433a;  HEIGHT: 50PX; }
img.scoreboard-NE{    BACKGROUND: #012b5c;  HEIGHT: 50PX; }
img.scoreboard-MIA{    BACKGROUND: #008e97;  HEIGHT: 50PX; }
img.scoreboard-BUF{    BACKGROUND: #005496;  HEIGHT: 50PX; }
/*afc west*/
img.scoreboard-OAK {    BACKGROUND: #ccc; HEIGHT: 50PX; }
img.scoreboard-KC{ BACKGROUND: #e31737;  HEIGHT: 50PX;}
img.scoreboard-DEN{    BACKGROUND: #f26422;  HEIGHT: 50PX;}
img.scoreboard-LAC{    BACKGROUND: #247ba1; HEIGHT: 50PX;}
/*afc north*/
img.scoreboard-CLE{    BACKGROUND: #4c3c24; HEIGHT: 50PX; }
img.scoreboard-PIT{ BACKGROUND: #000;  HEIGHT: 50PX;}
img.scoreboard-BAL{    BACKGROUND: #262778;  HEIGHT: 50PX;}
img.scoreboard-CIN{    BACKGROUND: #f04d23; HEIGHT: 50PX;}
/*afc south*/
img.scoreboard-HOU{    BACKGROUND: #00133f; HEIGHT: 50PX; }
img.scoreboard-TEN{ BACKGROUND: #012b5c;  HEIGHT: 50PX;}
img.scoreboard-JAX{    BACKGROUND: #006476;  HEIGHT: 50PX;}
img.scoreboard-IND{    BACKGROUND: #013a70; HEIGHT: 50PX;}
/*nfc east*/
img.scoreboard-DAL{    BACKGROUND: #acbbce;  HEIGHT: 50PX; }
img.scoreboard-WAS{    BACKGROUND: #671e13;  HEIGHT: 50PX; }
img.scoreboard-NYG{    BACKGROUND: #d02323;  HEIGHT: 50PX; }
img.scoreboard-PHI{    BACKGROUND: #325a5f;  HEIGHT: 50PX; }
/*nfc  west*/
img.scoreboard-SF {    BACKGROUND: #c9a569; HEIGHT: 50PX; }
img.scoreboard-ARI { BACKGROUND: #e31737;  HEIGHT: 50PX;}
img.scoreboard-LAR {    BACKGROUND: #002344;  HEIGHT: 50PX;}
img.scoreboard-SEA {    BACKGROUND: #012b5c; HEIGHT: 50PX;}
/*nfc north*/
img.scoreboard-GB {    BACKGROUND: #ffb700; HEIGHT: 50PX; }
img.scoreboard-DET { BACKGROUND: #9c9c9c;  HEIGHT: 50PX;}
img.scoreboard-CHI {    BACKGROUND: #20202f;  HEIGHT: 50PX;}
img.scoreboard-MIN {    BACKGROUND: #612976; HEIGHT: 50PX;}
/*nfc south*/
img.scoreboard-ATL {    BACKGROUND: #000; HEIGHT: 50PX; }
img.scoreboard-CAR { BACKGROUND: #0099da;  HEIGHT: 50PX;}
img.scoreboard-NO {    BACKGROUND: #9f8957;  HEIGHT: 50PX;}
img.scoreboard-TB {    BACKGROUND: #d50b09 ; HEIGHT: 50PX;}

/*at logo*/
a#yui_259:before {    background: url(https://i.imgur.com/Itn7FyT.png) no-repeat;    position: absolute;   background-size: 23px 20px;    content: "";    height: 100%;    width: 100%;    background-position: 24px 38px;}

/*scorelist animation*/
.scorelist{   animation: fontbulger 2s ease-in;}
@keyframes fontbulger { 0% { top: -100px; opacity: 0; }  15% { top: -85px;   } 25% { top: -75px;   } 40% { top: -60px;   } 50% { top: -50px;   } 65% { top: -25px;   } 75% { top: 0px; opacity:0.1;  }  85% { top: 15px;   } 100% {  top: 30px; opacity:1;  }}
.scorelist {   position: relative;    top: 21px;    width: 100%;    margin: auto;    overflow: hidden;}

.yui3-scorestrip-tile{border:0; height:50px;} 
a.yui3-scorestrip-tile-content{    color: WHITE;    height: 105%;    left: 0px;    line-height: 0px;    padding-top: 2px;    position: absolute;    text-decoration: none;    top: -2px;    width: 100%;    BORDER-RIGHT: 5PX SOLID #ffffff;    font-size: 13px;} 
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box,.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content,.yui3-scorestrip-tile-content:hover,.yui3-scorestrip-tile-content:hover>span{background:transparent !important;color:#ffb22a!important;} 
.yui3-scorestrip-tile-big-play a, .yui3-scorestrip-tile-home{top:27px;} 
.scorelist ol {float:left;margin:0px} 
.yui3-scorestrip-tile-index-0 {min-width: 79px;}
.yui3-scorestrip-tile-score{top:47px;right:8px;} 

.yui3-scorestrip-tile-home-wins .yui3-scorestrip-tile-home, 
.yui3-scorestrip-tile-visitor-wins .yui3-scorestrip-tile-visitor { 
color: #bcbcbc; 
} 
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box, 
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content, 
.yui3-scorestrip-tile-content:hover, 
.yui3-scorestrip-tile-content:hover > span { 
color: #ffffff !important; 
} 

.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box, 
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content, 
.yui3-scorestrip-tile-content:hover, 
.yui3-scorestrip-tile-content:hover>span {
background: none repeat scroll 0 0 #FFF0  !important; 
color: #fffff!important; 
text-decoration: none 
} 
.yui3-scorestrip-tile-home-wins .yui3-scorestrip-tile-home, 
.yui3-scorestrip-tile-visitor-wins .yui3-scorestrip-tile-visitor { 
color: #ffffff; 
} 
.yui3-scorestrip-tile-visitor{    top: 42px!important;    Z-INDEX: 1;    RIGHT: 65PX;COLOR: WHITE;} 
.scorelist ol { 
position: relative; 
margin: 0; 
padding: 0; 
list-style: none; 
} 
span.yui3-scorestrip-tile-hts.yui3-scorestrip-tile-home.yui3-scorestrip-tile-score {
    TOP: 42PX; Z-INDEX:1;
    RIGHT: 6PX;
}

.scorelist ol li { position: relative;display: block;float: left;margin: 0;padding: 0px; } 

/*Twitch*********************************************************/
.twitch {    position: relative;    top: 15px;}
.twitch {   animation: twitchbulger 2s ease-in;}
@keyframes twitchbulger { 0% { top: 100px; opacity: 0; }  15% { top: 85px;   } 25% { top: 75px;   } 40% { top: 60px;   } 50% { top: 50px;   } 65% { top: 25px;   } 75% { top: 20px;  }  95% { top: 18px;  opacity:0.1;  } 100% {  top: 15px; opacity:1;  }}

[src*="/ogamingsc2"] {  content: url(https://static.nfl.com/static/site/img/logos/svg/teams/SF.svg);}
li#users {    display: flex;    width: 100%;    background: linear-gradient(#eeeeee, white, #c7c7c7);}
.main-menu {  background-color: #fff;  padding: 2% 0 0;}
.title {  display: block;  margin: 0 auto;  width: 100%;}
.twitch-logo {  display: block;  height: 100px;  margin: 0 auto;  text-align: center;  width: auto;  padding: 17px;}
.selector {  display: inline-flex;  height: 30px;  overflow: hidden;  list-style: none;  margin: 0;  padding: 0;  width: 100%;}
.square {  background-image: url(https://thatsgamebro.com/wp-content/uploads/2018/02/Twitch-Logo.png);
  background-color: #6441a4;  border: 1px solid #fff;  border-bottom: 0;  border-radius: 2px;  width: 136px;  color: #f2f2f2;  display: inline-block;  margin: 0;  padding: 5px;  text-align: center;  background-position: 6px;  background-size: 15%;  background-repeat: no-repeat;}
.square:first-child {  border-left: 0;}
.square:last-child {  border-right: 0;}
.square a {  text-decoration: none;  color: #f2f2f2;}
.active {  background-color: #433f4a;}
.channel {  padding: 2% 0;  margin: 0;  border-bottom: 1px solid #f2f2f2;}
.channel:last-child {  border-bottom: 0;}
.online {    background-color: #b8cca600;    width: 11%;}
.offline {  background-color: #f4abab;  display: none;}
.logo {    width: 22px;    height: 22px;    top: -19px;    left: 5px;    border-radius: 50%;    position: absolute;}
span.hidden-xs {  display: none;}
.name {    top: -23px;    text-align: left;   font-size: 12px;    left: -16px;}
.game {    font-size: 9px;    position: relative;    top: -25px;    left: 16px;}

@media (max-width: 768px) {
  #name, #streaming {   text-align: center;  }

  #name {    padding-top: 10px;  }
}
/*Menu***********************************************************/
/* Primary style-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

a {
  color: #293d67;
  text-decoration: none;
}
a:focus, a:hover {    text-decoration: none;
}

/*Team Page -------------------------------------------------------------*/
.teamprofiles:after {
white-space: pre;
    position: relative;
    top: -157px;
    color: white;
    width: 137px;
    font-style: normal;
    font-size: 20px;
    left: -27px;
    background: rgba(202, 215, 225, 0);
    FLOAT: left;
    text-align: left;
    text-shadow: 0 1px 4px black;
    padding-left: 5px;
}
.teamprofiles:before{       content: "Career Record \A Super Bowl Record \A Playoff Record \A Division Titles";
    white-space: pre;
    position: relative;
    padding: 4px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    text-align: left;
    left: 20px;
    line-height: 22px;
    top: -100px;
    border: 0px solid;
    font-size: 20px;
    padding-left: 6px;
    padding-right: 59px;
    font-style: normal;
    font-family: DLSansCondMedium;
    }
.cfm-player-profile{height: 138px; margin-top:-20px} 
.cfm-player-wrapper{width:100%} 
.teamprofileleft{display:none} 
.teamprofileright{width:100%;padding:0 15px 0 15px} 
.cfm-player-attributes-item{color: rgba(39, 39, 39, 0.08);height:auto} 
.panel-default>.panel-heading{background:transparent;border:0;color:#555;font-family:anton;font-size:28px;text-transform:uppercase;text-align:center!important} 
.cfm-player-attributes-item{background:rgba(39, 39, 39, 0.05);color:#223355;margin:0;width:23%;border:0;margin:2px 0 0 2px} 
.cfm-player-attributes-item:hover{background:rgb(244, 244, 244);cursor:pointer} 
.cfm-player-attributes-item-header{color: #233355;   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);} 
.cfm-player-wrapper .panel{position:relative;top:-10px} 
.cfm-player-attributes-item-rank{color:#c64947;    font-size: 15px; margin-top:-10px;} 
h1.cfm-player-name{font-size: 51px; margin-left:300px;text-transform:uppercase} 
.cfm-player-info{position:absolute;font-family:'Open Sans',Arial,sans-serif;left:349px;margin-top:-7px} 
#team-main-nav{background:#e8ecf1;border-top:0;height:32px} 
#team-main-nav ul{margin:7px 0 0 -40px;padding-top:6px} 
#team-main-nav li a{color:#223355;font-weight:normal} 
#team-main-nav li.selected{border-bottom:none} 

.teamprofileright img{margin:0 5px 0 0} 


.Teamcolors td{overflow:hidden; background:none!important} 
.Teamcolors{     overflow:hidden; background: -webkit-linear-gradient(rgba(0, 0, 0, 0), transparent);
    background: -o-linear-gradient(#000, transparent);
    background: -moz-linear-gradient(#000, transparent);
    background: linear-gradient(rgba(0, 0, 0, 0), transparent);
} 
.cfm-team-logo{display:inline} 
.teamPageLogo{height:100px;margin-right:15px} 
.teamPatriots{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/patriots.png) no-repeat} 
.teamDolphins{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/dolphins.png) no-repeat} 
.teamJets{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/jets.png) no-repeat} 
.teamBills{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/bills.png) no-repeat} 
.teamRavens{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/ravens.png) no-repeat} 
.teamBengals{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/bengals.png) no-repeat} 
.teamSteelers{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/steelers.png) no-repeat} 
.teamBrowns{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/browns.png) no-repeat} 
.teamTexans{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/texans.png) no-repeat} 
.teamJaguars{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/jaguars.png) no-repeat} 
.teamColts{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/colts.png) no-repeat} 
.teamTitans{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/titans.png) no-repeat} 
.teamChiefs{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/chiefs.png) no-repeat} 
.teamBroncos{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/broncos.png) no-repeat} 
.teamRaiders{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/raiders.png) no-repeat} 
.teamChargers{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/chargers.png) no-repeat} 
.teamGiants{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/giants.png) no-repeat} 
.teamEagles{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/eagles.png) no-repeat} 
.teamRedskins{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/redskins.png) no-repeat} 
.teamCowboys{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/cowboys.png) no-repeat} 
.teamVikings{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/vikings.png) no-repeat} 
.teamPackers{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/packers.png) no-repeat} 
.teamLions{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/lions.png) no-repeat} 
.teamBears{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/bears.png) no-repeat} 
.teamBuccaneers{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/buccaneers.png) no-repeat} 
.teamSaints{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/saints.png) no-repeat} 
.teamPanthers{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/panthers.png) no-repeat} 
.teamFalcons{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/falcons.png) no-repeat} 
.team49ers{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/49ers.png) no-repeat} 
.teamSeahawks{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/seahawks.png) no-repeat} 
.teamCardinals{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/cardinals.png) no-repeat} 
.teamRams{background:url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/rams.png) no-repeat} 

/* PLAYER PAGE */ 
#player-profile-tabs{background:#e8ecf1;border-top:0;height:34px} 
#player-profile-tabs ul{margin:7px 0 0 -40px;padding-top:8px} 
#player-profile-tabs li a,#player-profile-tabs li a:hover{color:#223355;font-weight:normal} 
#player-profile-tabs li a{    font-family: DLSansCondMedium;
    text-shadow: none;
    font-size: 19px;} 
#player-profile-tabs li.selected{border-bottom:none} 
.cfm-player-wrapper .panel-heading .salary-info,.cfm-player-wrapper .panel-heading .pull-right{ font-size:16px} 
.cfm-player-wrapper .panel-heading .salary-info{position:relative;margin-left:0;top:-14px;left:-214px} 
.cfm-player-img img {
    width: 452px;
    height: 422px;
    position: relative;
    top: -141px;
}
.cfm-player-img{float: left;
    margin-left: -179px;
    margin-top: -2px;
    height: 152px; width:30%} 
body > div.container > div > div.content > div.maincontent > div.col-md-10.col-xs-10.col-sm-10.cfm-player-wrapper > div.panel.panel-default > div.panel-body > div > div.cfm-player-attributes-item{width:10%} 
.playerskills,.playerskills table.pinto{width:100%} 
.playerskills{margin-left:0} 
.playerskills table.pinto{font-size:16} 
.playerskills table.pinto th{background:#272727} 
.playerskills table.pinto tr:nth-child(2n+1),.pinto tr:nth-child(2n){background:none!important} 
.playerskills table.pinto{border:0} 
.cfm-player-team img{    height: 215px;    margin: auto; z-index: 100;opacity:unset} 
h1.cfm-player-name span { font-size: 28px;  padding-right: 15px;   font-family: anton;}

/* SCHEDULE */ 
div#scores>ul.list-group {column-count:2; height:73rem; width:122rem; overflow: hidden; }
.col-md-5 {width: 34/6%;} 
.schedule .sub-menu .item.last{display:none} 
.schedule .sub-menu {float:left;clear:both} 
.header.schedule h1{font-style:none;margin:10px} 
.weekSelector{padding:0 0 0 10px} 
#schedule-weeks .post{margin:0 auto!important} 
li.list-group-item.scheduleweek {
    display: -webkit-inline-box;
}
ul.list-group .list-group-item {    display:contents;}
#scores .list-group-item{background:rgba(128, 128, 128, 0.28);background-size:100%;} 
.scheduleweek{color:#223355;margin-bottom:5px;border:none} 
.scheduleweek .week{float:none;font-weight:normal;margin-top:1px} 
.scheduleweek a strong{color:#e3504d;font-weight:normal} 
.scheduleweek .hometeam .name{      font-weight: unset;  margin: -68px 110px 0 -70px;
    font-size: 23px;
    font-family: anton;} 
.record {    color: #428bca!important}
.scheduleweek .awayteam .name,.scheduleweek .awayteam .record{margin-left:110px;font-weight:normal} 
.scheduleweek .awayteam .record {
    font-size: 20px;
    position: absolute;
    font-family: DLSansCondMedium;
}
.scheduleweek .hometeam .record {
    margin-left: -70px;
    font-size: 20px;
    font-family: DLSansCondMedium;
}
.scheduleweek .hometeam .name,.scheduleweek .hometeam .record{margin-right:110px} 
.scheduleweek .at{text-align:center;padding:15px 0 0;} 
.scheduleweek .teamlogo img{width:80px} 
.scheduleweek .score{font-size: 25px; } 
.scheduleweek .name{text-transform:uppercase} 
.col-md-10{width:100%} 
.scheduleweek .hometeam{text-align:right} 
.sub-menu ul li.selected,.header .weekSelector ul>li a.selected{color:#e94946} 
.scheduleweek .awayteam .name {   font-size: 23px;   font-family: anton;}

/* BOX SCORE */ 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.sub-header-recap,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.first,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.table-container-recap,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title1.gradient,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title2{background:none} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.sub-header-recap,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.table-container-recap,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap #scrollbar .viewport{border:none} 
.recap-container .scrollbar,.recap-container .clearfix{display:none} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title1,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title2,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .listStatsContainer{width:50%} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .big{width:100%} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title1,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title1.gradient{    background: #e8ecf1;
    color: #233355;} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .recaplabel{color:#223355} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row .subItem,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row div.separator{border-color:#7f7f7f!important} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-left,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-right{width:37%} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.sub-header-recap .statictisc-title{width:41%;margin-right:5px} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.sub-header-recap .button span{color:#223355;font-family:'Roboto Condensed',Arial,sans-serif} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.sub-header-recap .button.selected{background:#272727} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.sub-header-recap .button.selected span{color:#fff} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row .subItem{width:16%;border:none} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap .goals-left,div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap .goals-right{color:#223355!important} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .info-row.title2 span{color:#555} 
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap {    height: 144px;}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-left {    height: 100%;}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-left .teamimage-left, div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-right .teamimage-right {   height: 147px; margin-top: -10px;}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap .goals-right {
    float: right;
    font-size: 54px;
    font-weight: bold;
    margin-top: 43px;
    font-family: anton;
    padding-right: 62px;
}
.teamimage-left, .teamimage-right {    width: 150px;}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-right {    height: 147px;}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-left div.name {     float: left;
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 4px;
    overflow: hidden;
    width: 400px;
    text-align: left;
    position: relative;
    font-family: anton;
    left: 187px;
    top: -115px;
    display: -webkit-inline-box;}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap div.header-recap .goals-left {
     float: left;
    font-size: 54px;
    font-weight: bold;
    margin-top: 43px;
    padding-left: 80px;
    font-family: anton;
}
div.eas-plugin-ccmGamePlugin-widget-ccmGameRecap .team-info-right div.name {    float: right;
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 4px;
    overflow: hidden;
    width: 387px;
    position: relative;
    text-align: right;
    top: -117px;
    right: 138px;
    font-family: anton;
    z-index: 1;
}

.nfcpow.pow-player-logo, .afcpow.pow-player-logo {    overflow: hidden;}
.afcpow.pow-player-logo {  width: 100%!important;    height: auto!important;    margin-top: 0%;    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(https://s18.postimg.org/9ckp8urxl/afclogohh_zpsccslf2fu.png);
   background-size: 7px, 34%;    background-position: 0 0px, 3px 4%;    background-repeat: repeat,no-repeat;    z-index: 1;    position: relative;    top: -1px;}
.nfcpow.pow-player-logo {  width: 100%!important;    height: auto!important;    margin-top: 0%;    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(https://s18.postimg.org/bjp0vrqc9/nfc-logohh_zps3vajdcsb.png);
   background-size: 7px, 34%;    background-position: 0 0px, 3px 4%;    background-repeat: repeat,no-repeat;    z-index: 1;    position: relative;    top: -1px;}

.span3 {
  width:269px;
}
.thumbnail>img, .thumbnail a>img {    display: block;    max-width: 100%;    height: 200px;   margin-left: auto;    margin-right: auto;}

.thumbnail img {
    object-fit: cover;
    height: 127px;
}
.caption {
  text-align: center;
}

.caption p {    font-size: 3rem;
    color: #233355;
    font-family: DLSansCondMedium;
}
        .btn.btn-mini {
            font-size: 0.63rem;
            }

/* Modules - reusable parts of our design-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Main components-------------------------------- */
html, body {
  height: 100%;
}

.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(2, 23, 37, 0.95);
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-header { 
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: url(https://i.imgur.com/EHYdPSj.png), linear-gradient(#eeeeee, white, #ffffff7a);
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    background-position: 0px -11px, 0 0;
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: white;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: transparent;
  }
}



.cd-secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10em;
  /* hidden on small devices */
  display: none;
}
.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
}
.cd-secondary-nav a {
    display: inline-block;
    color: #ffffff;
    background: #e01313;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px;
    border-radius: 4px;
}
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block;
  }
}

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #03263d;
}
.cd-primary-nav-trigger .cd-menu-text {
  color: #d71c18;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #d71b18;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #d71b18;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #d71b18;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 2em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background:#ffffffed;
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.cd-primary-nav a {
  display: inline-block;
  padding: 0em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #e36767;
}
.cd-primary-nav .cd-label {
  color: #d71b18;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("https://codyhouse.co/demo/full-screen-pop-out-navigation/img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-primary-nav .cd-facebook a {
  background-position: 0 0;
}
.cd-primary-nav .cd-instagram a {
  background-position: -44px 0;
}
.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0;
}
.cd-primary-nav .cd-twitter a {
  background-position: -132px 0;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1.4rem; letter-spacing: .2rem;
  }
}

.cd-intro {
  position: relative;
  height: 100%;
  background: url("https://codyhouse.co/demo/full-screen-pop-out-navigation/img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px;
  }
}

.cd-main-content {
  position: relative;
  z-index: 1;
}
.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0;
}
@media (min-width: 1200px)
.container {
    width: 100%;
}
@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}





@media screen and (max-width: 767px) {
/***************************** start of phone styles ******************************/
    
/***setup***/
div#app {    overflow: hidden;}
 
/***Twitch****/
.square {    padding: 3px;}
.twitch {   top: -11px;}@keyframes twitchbulger { 0% { top: 100px; opacity: 0; }  15% { top: 85px;   } 25% { top: 75px;   } 40% { top: 60px;   } 50% { top: 50px;   } 65% { top: 25px;   } 75% { top: 20px;  }  95% { top: 18px;  opacity:0.1;  } 100% {  top: -11px; opacity:1;  }}
.square {   background-image: none;}
li#users {    overflow-x: scroll;}
.online {    width: 50%;}
#name, #streaming {    text-align: left;}
.channel {    padding: 5% 33px;    margin: 0;    border-bottom: 1px solid #f2f2f2;}
.logo {    width: 22px;    height: 22px;    top: -11px;    left: -28px;    border-radius: 50%;    position: absolute;}
.game {    left: -16px;}

/***Menu****/
.cd-header {    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    * box-shadow: none; 
    background-image: url(https://i.imgur.com/EHYdPSj.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 0px -8px;
}
.cd-primary-nav-trigger {    background-color: #03263d00;}

/***Scoreboard***/
.yui3-scorestrip-tile-index-0 {    min-width: 25%;}
.scorelist {   top:-7px;  margin-left: 2%;}
@keyframes fontbulger { 0% { top: -100px; opacity: 0; }  15% { top: -85px;   } 25% { top: -75px;   } 40% { top: -60px;   } 50% { top: -50px;   } 65% { top: -25px;   } 75% { top: -20px; opacity:0.1;  }  85% { top: -12px;   } 100% {  top: -7px; opacity:1;  }}
span.yui3-scorestrip-tile-hts.yui3-scorestrip-tile-home.yui3-scorestrip-tile-score {    RIGHT: 25PX;}



