
/*setup******************************************************************************************************************/
li.nav-item {    width: inherit;    text-align: center!important;} 
ul.navbar-nav {    width: -webkit-fill-available;}
.card.card-porlet.b {  background:transparent;   overflow: hidden;} 
nav.navbar.navbar-expand-lg.dlnavbar.dlnavbg {     z-index: 1;   position: fixed;    width: -webkit-fill-available;    top: 0px;}
.dlnavbar .navbar-toggler-icon {    background-image: url(https://i.imgur.com/1O7DYwE.png);}
.content-wrapper {    padding:20px!important;  margin-top:55px;    padding-top: 0px;}
[src*="/nfl/nfl.svg"]{content:url(https://i.imgur.com/dOCck5z.png);}
[src*="/nfl/teams/left/17.png"]{content:url(https://i.imgur.com/LwBsDPm.png);}
[src*="/nfl/teams/right/17.png"]{content:url(https://i.imgur.com/LwBsDPm.png);}
.cfm-header {    display: block;  top:0px;   position: fixed;      background: #ffffff;  z-index: 12;}
ins,header.topnavbar-wrapper, footer p.text-center {display:none!important;}
.layout-cfm .wrapper .section-container {     margin-bottom: 0rem!important;     background: #fff0;  max-width: 3000px;}
*  {   font-familY: 'DLSansCondMedium'; border: 0px!important;}
 @media (min-width: 992px){ .navbar-expand-lg {    flex-flow: wrap;}}
.card .card-header {  text-align: center;   text-transform: uppercase;}
.scorelist {    position: relative;    top: 55px;}
.card .card-header {       background: linear-gradient(to top,#6c757d 31%, #a4a4a4 52%, #676f79 65%);    -webkit-background-clip: text!important;    -webkit-text-fill-color: transparent;    font-size: 1rem;    font-family: DLSansCondMedium;    letter-spacing: 3px;    text-align: center;    text-transform: uppercase;}
a.cfm-score-content {    background: none repeat scroll 0 0 #f0f0f000;}
.row {   width: -webkit-fill-available;} 
.card.card-porlet.b {    width: -webkit-fill-available;}
tr.thd2 td {    border-bottom: 2px solid #343a40!important;    color: #343a40!important;    font-family: oswald;    padding: 3px 3px;}
div#powerrankings .card-footer {    text-align: center;}div#powerrankings {   padding-left: 15px;}
.w-100 {    display: none;}

/*Storyline setup******************************************************************************************************************/
@media (max-width: 575px){  
div#news-stream-container {    height: 476px;    overflow: hidden;    overflow-y: scroll;}
div#hp-stories {  display: block!important;    width: auto!important;}
}
div#hp-stories {    display: flex;    overflow: hidden;    overflow-x: scroll;    width: unset;}
img.blogpostimage {    width: 100%;    height: 260px;    object-fit: cover;    overflow: hidden;}
.blogpostbody p {    display: -webkit-box;    -webkit-line-clamp: 3;    -webkit-box-orient: vertical;    overflow: hidden;    font-size: medium!important;    font-family: DLSansCondMedium;    line-height: 20px!important;}
.col-xl-4.col-md-6.col-sm-12.blogpost.clearfix h4 {     display: -webkit-box;    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;    font-size: 24px;    overflow: hidden;    font-family: DLSansCondMedium;    min-height: 60px!important;}
.blogpostfooter {    font-size: smaller;    font-family: oswald;}
.col-xl-4.col-md-6.col-sm-12.blogpost.clearfix {    text-align: center;}

/*GOW*/
.col-4.d-flex.align-items-center.justify-content-center.rounded-left, .col-4.bg-inverse.d-flex.align-items-center.justify-content-center.rounded-right {      overflow: hidden;  background-size: 100%!IMPORTANT;    BACKGROUND: transparent;}
.col-lg-12.col-md-12.col-sm-12.col-xs-12.gameoftheweek .row.row-flush {    HEIGHT: 150PX;}
div#gameoftheweek-container .card-body.text-center {    display: inline-block;    vertical-align: middle; padding: 0px;    line-height: normal;    margin: auto;}
.col-2.gow.away.score, .col-2.gow.home.score { text-align:center;   margin: auto;}

/*POW*/
img.mr-3.rounded-circle.thumb128 {     border-radius: 0%!important;  width: 300px!important;    height: 300px!important;    POSITION: ABSOLUTE;    background: #bcbcbc;    object-position: 1px 3px;}
div#oplayeroftheweek-container .col-8.py-2.pl-0 .text-center , div#dplayeroftheweek-container .col-8.py-2.pl-0 .text-center {   font-size: .75rem!important;    text-align: left!important;    padding-left: 10px;    display: inline-block;    vertical-align: middle;    padding: 0px;    line-height: normal;    margin: auto;}
div#oplayeroftheweek-container .col-8.py-2.pl-0 .text-center  h3.mt-0 , div#dplayeroftheweek-container .col-8.py-2.pl-0 .text-center h3.mt-0 {font-size: 1rem; }
div#dplayeroftheweek-container .card.flex-row.align-items-center.align-items-stretch.border-0.mb-0, div#oplayeroftheweek-container .card.flex-row.align-items-center.align-items-stretch.border-0.mb-0 {    height: 150px;}
.col-8.py-2.pl-0 {    text-align: center;    margin: auto;}

/*PLAYOFF CHASE*/
div#afc-playoff-container small.text-muted.ml-2, div#nfc-playoff-container small.text-muted.ml-2 {    display: none;}
div#afc_playoff .cfm-hp-playoffrace .teamname, div#nfc_playoff .cfm-hp-playoffrace .teamname  {     font-size: 1.3rem; top: 9px; color: #333;    font-family: DLSansCondMedium;    text-align: left;    line-height: inherit;}
.list-group-item.cfm-hp-playoffrace {    padding: 5px;}
div#nfc-playoff-container .list-group-item.cfm-hp-playoffrace p.m-0, div#afc-playoff-container .list-group-item.cfm-hp-playoffrace p.m-0 {        float: left;    width: 97%;    position: absolute;    font-size: x-large;    top: 3px;    left: 0px;    text-align: right;}
div#afc_playoff h4, div#nfc_playoff h4 {        margin-top: 9px;    margin-bottom: 9px;    text-align: center;    font-family: oswald;    padding: 5px;    width: 50%;    color: #ffffff;    margin: auto;  }
.list-group-item.cfm-hp-playoffrace {     border-bottom: 3px solid #848b9a;   background: linear-gradient(to top, rgb(199, 199, 199), rgb(255, 255, 255));}
p.mr-2.rank:before {    content: "#";}
.cfm-hp-playoffrace .rank {    font-size: 1rem;    background: linear-gradient(to top, #343a40, #929292);    padding: 5px;    color: white;    text-shadow: 0 1px 1px black;        width: 32px;    font-size: .75rem;  border-radius: 6%;  text-align: center;}
.list-group-item.cfm-hp-playoffrace:nth-child(n+8) {    -webkit-filter: grayscale(95%);    filter: grayscale(95%);    -webkit-filter: grayscale(95%);    filter: grayscale(95%);    background: #828282;  }
div#afc_playoff h4:after, div#nfc_playoff h4:after {    content: '(Click Here)';}

/*standings*/
table.dl-table1 tr:nth-child(odd) {    background-color: #f2f2f200;  }
div#nfc-east-container table.dl-table1 .thd2 td,div#nfc-west-container table.dl-table1 .thd2 td,div#nfc-south-container table.dl-table1 .thd2 td,div#nfc-north-container table.dl-table1 .thd2 td {    border-bottom: 2px solid #5071b4!important;    color: #343a40;    font-family: oswald;    padding: 3px 3px;}
div#afc-east-container table.dl-table1 .thd2 td,div#afc-west-container table.dl-table1 .thd2 td,div#afc-south-container table.dl-table1 .thd2 td,div#afc-north-container table.dl-table1 .thd2 td {    border-bottom: 2px solid #dc3545!important;    color: #343a40;    font-family: oswald;    padding: 3px 3px;}
table.dl-table1 .thd2 td {    background-color: #fff;}
.dl-table1 th, table.dl-table1 td {    font-family: DLSansCondMedium;}
.dl-table1 td.tbdy1, table.dl-table1 .tbdy1 td {     background-color: #c0313100;   color: #343a40;}
table.dl-table1 tr:hover {    background-color: #00000012!important;}

/*power rankings*/
div#powerrankings .list-group {    display: -webkit-box;     padding-left: 15px; display: -ms-flexbox;    display: flex;    -webkit-box-orient: horizontal;    -webkit-box-direction: normal;    -ms-flex-direction: column;    flex-direction: row;    padding-left: 0;    margin-bottom: 0;    column-count: 2;    display: block;}
@media (max-width: 575px){ div#powerrankings .list-group {   column-count: 1;}}
.cfm-hp-powerrankings .teamname {    font-size: 1rem;    color: #fff;    text-transform: uppercase;    width: -webkit-fill-available;}
