/***mobile layout*************************************************************************************************************************************************/

@media screen and (min-width: 325px) and (max-width: 500px) {     /* start of medium tablet styles********************** */
/***menu***/
ul.navbar-nav {    float: left;    left: 1rem;    text-align: left;    position: relative;}
.dropdown-menu.show {   top: -.51rem;    position: relative;}
.navbar-collapse {    width: auto;    padding: 1%;    background-color: #283b62;}
.navbar, .navbar .dropdown-menu, .topnavbar {    height: unset;}
div#mem {      position: fixed;  top: 32px;      margin-right: 0%;  right: 0rem;}

/*Jumbotron***/
.intro-center {    padding-left: 5%;    padding-right: 5%;}

/***scoreboard***/
.cfm-score-index-0 {    width: 100%;}
img.scoreboard {       object-position: 22px 29%;   top: 6px;  height: 80%; right: -6vw;}
img.scoreboard:nth-child(2) {    left: -24px;}
.teamname {  right:35px;   font-size: larger;}
.teamname:nth-child(3) {    left: 34px;}
.cfm-score-score {    font-size: small;}
span.cfm-score-hts.cfm-score-home.cfm-score-score {    right: 4rem;}
span.cfm-score-vts.cfm-score-visitor.cfm-score-score {    left: 4rem;}
li#game- {    background-size: 17%;}
li#game-:nth-child(odd) {    border-right: unset;}
div#flip {    padding: 7px;}
div#flip h4 {    font-size: smaller;    padding: 3px;    font-family: oswald;}

/*Player Page*/
.col-1.d-flex.align-items-left.justify-content-center.cfm-player-team-logo {    position: absolute;    width: 100%;    height: 100%;}
.cfm-player-team-logo img {    width: fit-content;    margin: auto;    object-fit: cover;    left: 4rem;    height: -webkit-fill-available;    position: relative;}
.cfm-player-team-logo, .cfm-team-logo, .cfm-team-stats {    background-color: rgba(0, 0, 0, 0);}
.rounded-circle {    border-radius: 0%!important;}
img.rounded-circle.thumb128 {       margin-top: -45px;    width: auto!important;    height: auto!important;    position: absolute;    margin-left: 9rem;}
.card {    overflow: hidden;}
.col-10.py-3.rounded-right.cfm-player-info { max-width: 100%;   position: relative;    z-index: 33;    font-size: 3vw;    float: left;    text-align: center;}
.card.flex-row.align-items-center.align-items-stretch.rounded-left.Teamcolors {    position: relative;    height: -webkit-fill-available;}

/*Storylines***/
.info img.img {    object-fit: cover;    width: 100%;    height: 300px;    position: relative;    top: -125px;}
.info {    height: 350px;}
h4 strong a {    animation: 7s fadein-slideup;    text-transform: uppercase;    float: left;    width: 100%;    color: #283b62;    position: relative;    top: 222px;    text-align: center;    padding: 18px;    font-size: 7vw;    z-index: 1;    line-height: 85px;    letter-spacing: -2px;    height: 85px;    text-shadow: none;}
.blogpostfooter {    position: relative;    top: -43px;    text-align: center;}
div#hp-stories {    position: relative;display: block;    overflow: hidden;    height: 380px;}
div#news-stream-container {    height: 400px;    margin-bottom: 5%;    overflow: hidden;}

}
@media screen and (min-width: 500px) and (max-width: 800px) {     /* start of large tablet styles*********************************************************/
/*menu***/
img.scoreboard:nth-child(2) {    left: -1.6rem;}
img.scoreboard {     padding: .75%;    top: 7px;    width: 25%;      object-position: 25px 29%;  right: -1.85rem;    display: -webkit-inline-box;   height: 75%;  }
.teamname:nth-child(3) {    left: 2rem;}
.teamname {     font-size: small;   right: 2rem;}
span.cfm-score-hts.cfm-score-home.cfm-score-score {   right: 6rem;}
span.cfm-score-vts.cfm-score-visitor.cfm-score-score {    left: 6rem;}
li#game- {    background-size: 13%;}
.cfm-score-score {    font-size: 1rem;    width: 2rem;}


}
